<div class="m-5 d-flex flex-column align-items-center" style="outline: 1px solid #DCDCDC">

  <h2 class="mt-5">URL Shortener</h2>
  <div class="w-25 d-flex justify-content-center mt-3 mb-5">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="" class="w-75">
  </div>

  <form action="/" method="post" class="container">
    <div class="m-3 w-auto d-flex flex-column align-items-center">
      {{!-- input限制為required: 若使用者沒有輸入內容就按下送出，會防止表單送出，並提示使用者 --}}
      <input type="url" name="originUrl" id="originUrl" placeholder="Input URL here" class="form-control" style="background-color: #f5f5f5; border: 0" required>
      <button type="submit" class="btn btn-outline-primary btn-sm mt-3">Shorten</button>
    </div>
  </form>

</div>