<div class="m-5 d-flex flex-column align-items-center" style="outline: 1px solid #DCDCDC">

  <h2 class="mt-5">URL Shortener</h2>
  <div class="w-25 d-flex justify-content-center mt-3 mb-5">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="" class="w-75">
  </div>

  <div>
    <h3>Success! Please use this link:</h3>
    <a class="h5" href="http://localhost:3000/{{URL.shortUrl}}" id="short-URL">http://localhost:3000/{{URL.shortUrl}}</a>
  </div>
  
  <button class="btn btn-primary btn-sm mt-3 mb-5" id="copy-button">Copy</button>
</div>